/* ! Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --background-image-main: url(https://as2.ftcdn.net/v2/jpg/05/17/63/55/1000_F_517635575_8JLjpQgGXjPkYIbAwQd3FdOe1Fzmnqsu.jpg);
  --background-image-sale: url(https://c8.alamy.com/comp/MADW7F/percent-seamless-business-background-discount-illustration-economic-finance-promotion-pattern-sale-background-MADW7F.jpg);
  --background-image-outstanding: url(https://png.pngtree.com/thumb_back/fw800/background/20231231/pngtree-hand-drawn-tribal-pattern-featuring-abstract-leaf-textures-seamlessly-repeated-image_13888401.png);
  --background-image-global: url(https://as1.ftcdn.net/v2/jpg/05/54/94/48/1000_F_554944825_2MQJEh7n5ffmIdKaS6zyrJ2h6Gz1WPGn.jpg);
  --background-image-NNA: url(https://e1.pxfuel.com/desktop-wallpaper/839/653/desktop-wallpaper-butterfly-and-leaves-seamless-pattern-in-pastel-colors-for-kids-design-cartoon-cute-smiling-animals-repeat-backgrounds-for-and-textile-summer-decor-vector-illustration-cartoon-flat-style-stock-illustration.jpg);
  --background-image-science: url(https://cdn.pixabay.com/photo/2022/01/25/22/43/background-6967508_1280.jpg);
  --background-image-didactic: url(https://i.pinimg.com/736x/91/70/dc/9170dcd5f348eb8898fae302ea76a6b8.jpg);
}

/* ! Common */
html {
  font-family: Arial, Jetbrains Mono, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.empty {
  margin-top: 100px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: calc(100% / 3);
}

.col-half {
  width: calc(100% / 2);
}

.col-full {
  width: 100%;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-38 {
  margin-top: 38px;
}

/* ! Main */
#main {
}

/* ! Banner */
#banner {
  background-image: var(--background-image-main);
  background-size: 600px;
  background-position: 50px 30px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  font-style: italic;

  line-height: 40px;
}

#banner h1 {
  color: #09608f;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  /* font line border */
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/* ! Header */
#header {
  height: 46px;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #000;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 20px;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(146, 12, 12, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0px 12px;
  line-height: 38px;
}

/* icon */
#nav .nav-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}

#header .search-btn:hover {
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#header #Cart {
  float: right;
  padding: 0 10px;
  font-size: 40px;
}

#header #Cart:hover {
  cursor: pointer;
}

/* ! Slider */
#slider {
  padding-top: 42.7%;
  height: 300px;
  width: 100%;
  transition: background 0.5s ease-in-out;

  position: relative;
  background: url(/HTML/GiaoDienSach_ThuyVy/assets/img/slider/slider1.jpg) top
    center / cover no-repeat;
}

#slider .text-content {
  color: #fff;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 0 0 10px #09608f;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 10px #000;
}

/* ! Content */
#content {
  /* height: 2000px; */
}

#content .book-section {
}

.Heading-content {
  display: block;
  width: 80vw;
  font-size: 26px;
  line-height: 40px;
  background-image: var(--background-image-main);
  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #09608f;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  border: 1px solid #000;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  /* font line border */
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.Heading-content.Sale-Heading {
  background-image: var(--background-image-sale);
  color: #e90a2feb;
  background-size: 500px;
  font-size: 40px;
}

.Heading-content.Outstand-Heading {
  background-image: var(--background-image-outstanding);
  color: #2f0ae9eb;
  background-size: 500px;
  font-size: 40px;
}

.Heading-content.Global-Heading {
  background-image: var(--background-image-global);
  color: #17d9c9bd;
  background-size: 500px;
  font-size: 40px;
}

.Heading-content.NNA-Heading {
  background-image: var(--background-image-NNA);
  color: #0ae954eb;
  background-size: 500px;
  font-size: 40px;
}

.Heading-content.Science-Heading {
  background-image: var(--background-image-science);
  color: #cc0bee;
  background-size: 500px;
  font-size: 40px;
}

.Heading-content.Didactic-Heading {
  background-image: var(--background-image-didactic);
  color: #0c0c0c;
  background-size: 500px;
  font-size: 40px;
}

/* ! Sách */
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-list .book-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
}

.book-list .book-item:hover {
  border: 1px solid #09608f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-list .book-item img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s, opacity 0.3s;
}

.book-list .book-item img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.book-list .book-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.book-list .book-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.book-list .book-item button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.book-list .book-item button:hover {
  background-color: #2980b9;
}

.book-sale .old-price {
  color: #888;
  text-decoration: line-through;
}

.book-sale .new-price {
  color: #e74c3c;
  font-weight: bold;
}

.book-list-sale {
  position: relative;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3),
    rgba(233, 123, 54, 0.4)
  );
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 50px;
}

.book-list-sale::before,
.book-list-sale::after {
  content: "sale";
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: #e99c36;
  padding: 5px 10px;
  border-radius: 5px;
}

.book-list-sale::before {
  top: 10px;
  left: 10px;
}

.book-list-sale::after {
  bottom: 10px;
  right: 10px;
}

.book-list-outstand {
  background-image: linear-gradient(
    90deg,
    rgba(16, 125, 234, 0.807),
    rgba(38, 13, 227, 0.4)
  );
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 50px;
}

.book-list-global {
  background-image: linear-gradient(
    0,
    rgba(16, 234, 180, 0.807),
    rgba(38, 13, 227, 0.4)
  );
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 50px;
}

.book-list-NNA {
  background-image: linear-gradient(
    0,
    rgba(113, 151, 148, 0.807),
    rgba(128, 136, 126, 0.4)
  );
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 50px;
}

.book-list-science {
  background-image: linear-gradient(
    180deg,
    rgb(149, 44, 12),
    rgba(58, 171, 14, 0.4)
  );
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 50px;
}

.book-list-didactic {
  background-image: linear-gradient(
    180deg,
    rgba(238, 112, 74, 0.584),
    rgba(79, 46, 176, 0.4)
  );
  border-radius: 20px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 50px;
}

/* ! About */
.about-section {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.584),
    rgba(26, 26, 27, 0.4)
  );
}

#main-head {
  text-align: center;
  color: #000;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

  display: block;
  border: 0px solid #ccc;
  border-radius: 10px;
  margin: 0 600px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#sub-head {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  opacity: 0.7;
}

#desc {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  line-height: 1.5;
}

/* ! Contact */

#contact-heading {
  text-align: center;
  color: #000;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  border: 0px solid #ccc;
  border-radius: 10px;
  margin: 0 600px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#contact-subheading {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  opacity: 0.7;
}

.contact-content {
  width: 100%;
  height: 300px;
  /* background-color: #09608f; */
  display: inline-flex;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
  margin-left: 50px;
  margin-top: 50px;
}

.contact-info a {
  color: #101aef;
  opacity: 0.8;
}

.contact-info a:hover {
  opacity: 1;
}

.contact-form {
  font-size: 15px;
  margin-top: 50px;
  margin-right: 50px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  /* outline: none; */
}

.ztop {
  margin-bottom: 12px;
}

.contact-submit-btn {
  background-color: #1e90ff; /* Màu xanh dương */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-submit-btn:hover {
  background-color: #0d67a0; /* Màu xanh dương đậm */
}

/* ! Map */
.map-section img {
  width: 100%;
}

/* ! Footer */
#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list {
  font-size: 24px;
}

#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

/* ! Category */
.new-Heading {
  display: block;
  width: 20vw;
  font-size: 26px;
  line-height: 40px;
  background-image: url(https://www.shutterstock.com/image-vector/repeat-black-white-hexagon-pattern-260nw-341015510.jpg);
  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #09608f;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  border: 1px solid #000;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  /* font line border */
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.new-Heading.Heading-content.More-Heading {
  /* background-image: var(--background-image-science); */
  color: #000000;
  background-size: 500px;
  font-size: 40px;
  text-align: center;
}

.Heading-content.More-Heading a {
  text-decoration: none;
}
