/* ! Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --background-image: url(https://as2.ftcdn.net/v2/jpg/05/17/63/55/1000_F_517635575_8JLjpQgGXjPkYIbAwQd3FdOe1Fzmnqsu.jpg);
}

/* ! Common */
html {
  font-family: Arial, Jetbrains Mono, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* ! Main */
#main {
}

/* ! Banner */
#banner {
  background-image: var(--background-image);
  background-size: 600px;
  background-position: 50px 30px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  font-style: italic;

  line-height: 40px;
}

#banner h1 {
  color: #09608f;

  font-family: "Pacifico", cursive;
  font-weight: 100;
}

/* ! Header */
#header {
  height: 46px;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #000;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 20px;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(146, 12, 12, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0px 12px;
  line-height: 38px;
}

/* icon */
#nav .nav-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}

#header .search-btn:hover {
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

/* ! Slider */
#slider {
  /* margin-top: 46px; */
  padding-top: 30%; /* Giảm giá trị padding-top 45.9% */
  height: 300px; /* Chiều cao cố định của slider */
  width: 100%; /* Chiều rộng cố định của slider */

  position: relative;
  background: url(/HTML/GiaoDienSach_ThuyVy/assets/img/slider/slider1.jpg) top
    center / cover no-repeat;
}

#slider .text-content {
  color: #fff;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 0 0 10px #09608f;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 10px #000;
}

/* ! Content */
#content {
  height: 2000px;
}

/* ! Footer */
#footer {
}
