/* ! Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ! Common */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* ! Main */
#main {
}

/* ! Header */
#header {
}

/* ! Slider */
#slider {
}

/* ! Content */
#content {
}

/* ! Footer */
#footer {
}
