.full-width {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}
