@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

*:focus {
  outline: 1px solid #3d5afe;
  color: #3d5afe !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #e8eaf6;
  border-radius: 160px;
}

*::-webkit-scrollbar-thumb {
  background: #c5cea9;
  border-radius: 160px;
}

a {
  text-decoration: none;
}

body {
  background: #eff3f4;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background: #fff;
  width: 448px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container header {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.container header .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  width: 100%;
  flex-grow: 1;
}

.container header .info .count {
  padding: 6px;
  font-weight: 600;
  width: 100%;
  background: #fafafa;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 8px;
}

.container header .info .count i {
  font-size: 20px;
  font-weight: 500;
}

.container header .profile {
  width: 400px;
}

.container header .profile img {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 16px;
  margin-top: -50%;
  border: 6px solid #fff;
}

.container .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.container .about h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .about h2 i {
  color: #3d5afe;
}

.container .about p {
  font-size: 16px;
  color: #424242;
}

.container .social-links {
  display: flex;
  gap: 16px;
}

.container .social-links a {
  background: #fafafa;
  padding: 8px;
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  color: #616161;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.container .social-links a i {
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.container .social-links a:hover {
  border: 1px solid #7e57c2;
}

.container .social-links a:hover i {
  color: #7e57c2;
}

.container .tabs-container {
  overflow-x: auto;
  margin-bottom: 4px;
  width: 100%;
}

.container .tabs-container .tabs {
  position: relative;
  display: flex;
  border: 1px solid #e8eaf6;
  border-radius: 8px;
  list-style: none;
}

.container .tabs-container .tabs li {
  z-index: 2;
}

.container .tabs-container .tabs li a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: #000;
  min-width: 112px;
  outline: none;
  padding: 12px 16px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.container .tabs-container .tabs li a:hover,
.container .tabs-container .tabs li a:active {
  color: #7e57c2;
}

.container .tabs-container #active-tab {
  position: absolute;
  width: 100%;
  width: 112px;
  height: 100%;
  background-attachment: #ede7f6;
  z-index: 1;
  border-radius: 8px;
  transition: all 0.5s ease;
}
